/* h-screen top-0 translate-x-0 w-14 bg-slate-400 max-h-full flex flex-col left-0 fixed overflow-hidden */
.sidebar {
	height: 100vh;
	top: 0;
	transform: translateX(0);
	width: 3.5rem;
	max-height: 100%;
	display: flex;
	flex0dorection: column;
	position: fixed;
	overflow: hidden;
	background-color: rgb(200,200,200)
}