/* h-14 mt-0 translate-y-0 left-14 right-0 bg-slate-100 fixed top-0 max-w-full block */
.header {
	height: 3.5rem;
	transform: translateY(0);
	left: 3.5rem;
	right: 0;
	top: 0;
	background: rgb(212,212,212);
	position: fixed;
	max-width: 100%;
	display: block
}